.good-x>input{border: 0;border-radius: 30px;color: white;background: orange;margin-left: 250px;font-size: 15px;cursor: pointer;}
.good-x h3 ,.good-x p{text-align: center;margin-top: 20px;}
.good-x h4{margin-top: 90px;text-align: center;color: orange;font-size:20px;}
.good-x h3 {font-size:22px;font-weight: 800;color: slateblue;}

